@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 10%;
    --foreground: 0 100% 100%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 100% 80%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 100% 100%;

    --card: 0 0% 15%;
    --card-foreground: 0 100% 100%;

    --border: 0 0% 30%;
    --input: 0 0% 30%;

    --primary: 0 100% 100%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 50%;
    --secondary-foreground: 0 100% 90%;

    --accent: 0 0% 50%;
    --accent-foreground: 0 100% 90%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --ring: 0 100% 50%;

    --radius: 0.25rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 100% 100%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 100% 80%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 100% 100%;

    --card: 0 0% 15%;
    --card-foreground: 0 100% 100%;

    --border: 0 0% 30%;
    --input: 0 0% 30%;

    --primary: 0 100% 100%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 50%;
    --secondary-foreground: 0 100% 90%;

    --accent: 0 0% 50%;
    --accent-foreground: 0 100% 90%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --ring: 0 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;

  }

  h1,
  h2,
  h3,
  button {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
  }
}